In [17]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import accuracy_score, classification_report,recall_score,precision_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

Using matplotlib backend: TkAgg

In [11]:
data = pd.read_csv('train.csv')
data.head()

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262
3  20  17.857388
4  36  41.849864

In [12]:
data.shape

(300, 2)

In [13]:
X=data.iloc[:,:-1]
y = data.iloc[:,-1]

In [16]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)